*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

img  {
    width: 150px;
    height: 150px;
}

.interface{
    max-width: 1280;
    margin: 0 auto;
}